<div ng-controller="PageController">
<!-- <div class="col-xs-6"><a href="#Blog" class="icon"><i class="fa fa-file-text"><small>Blog</small></i></a> </div> -->

<div class="col-xs-6"><a href="#Tips" class="icon"><i class="fa fa-star"><small>Tips</small></i></a> </div>

<div class="col-xs-6"><a href="#Tracksheets" class="icon"><i class="fa fa-file-excel-o
"><small>Tracksheets</small></i></a> </div>

<div class="col-xs-6"><a href="#Payment" class="icon"><i class="fa fa-credit-card"><small>Payment</small></i></a> </div>
 

<div class="col-xs-6"><a href="#News" class="icon"><i class="fa fa-newspaper-o"><small>News</small></i></a> </div>

<div class="col-xs-6"><a href="#Offers" class="icon"><i class="fa fa-gift"><small>Offers</small></i></a> </div>

<div class="col-xs-6"><a href="#Website" class="icon"><i class="fa fa-gears"><small>Services</small></i></a> </div>


<div class="col-xs-6"><a href="#Page/Contact" class="icon"><i class="fa fa-map"><small>Contact</small></i></a> </div>


</html>